<div><img class='warned' src='./img/pirates-ye-be-warned.fw.png'></div>


<!-- <h1 style='text-align:center'>Aye, ye be warned. Ye have broken the internet!</h1> -->

<form class='form'>
    <h4>Arrrrgh! Add a Pirate</h4>

    <div class="form-group">
        <label form="username">Pirate's Name</label>
        <input type="text" ng-model='username' class="form-control" id="username" placeholder="Pirate's Name" required>
    </div>
    <button ng-click='addUser()' type="submit" class="btn btn-default">Submit</button>
</form>

</br>
</br>

<h4> &nbsp; Get Pirates</br></h4>
<button ng-click='getUser()' type="submit" class="btn btn-default">Get them now!</button>

<div>
    <div class="col-xs-8 col-xs-offset-2">
        <!--
<table class="table table-striped">
    <thead>
        <tr>
            <td>Pirate Name</td>
            <td>Pirate Ships</td>
            <td>Ships Missions</td>
        </tr>
    </thead>
    <tbody ng-repeat="user in userData">
        <div ng-repeat="ship in user.ships">
            <tr>
                <td>
                    <a href="#/user"> {{ user.name }} </a>
                </td>
                <td> {{ship.name}} </td>
                <td> {{ship.missions}}</td>

            </tr>
        </div>
    </tbody>
</table>
-->
        <div>
            <ul ng-repeat='user in userData'>
                <a href='#/user' ng-click='getSingleUserId(user)'>
                    <li>{{user.name}}</li>
                </a>
                <ul ng-repeat='ship in user.ships'>
                    <li>Ship Name: {{ship.name}}
                        <a href='#/editship'>
                            <button type="submit" class="btn btn-primary btn-md" ng-click="getShipId(ship)">Update Ship</button>
                        </a>
                        <button type="submit" class="btn btn-danger btn-md" ng-click="deleteShip(ship._id)">Delete Ship</button>
                    </li>

                    <ul>
                        <li>Missions: {{ship.missions}}</li>
                    </ul>
                </ul>
        </div>

        <!--  <ul ng-repeat='user in userData'>
      <a href='#/user' ng-click='getSingleUserId(user)'><li>{{user.name}}</li></a>
      <ul ng-repeat='ship in user.ships'>
      <li>Ship Name: {{ship.name}}</li>
        <ul>
        <li>Missions: {{ship.missions}}</li>
      </ul>
    </ul> -->
    </div>
</div>